body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
form {
    text-align: center;
    color: red;
    font-size: 30px;
}

h2 {
    padding-top: 15%;
    padding-left: 15%;
}

.verticalLine {
    position: absolute;
    background-color: black;
    width: 2px;
    top: 200px;
    bottom: 90px;
    left: 50%;
}

.leftcontainer, .rightcontainer {
    width: 49%;
    position: fixed;
    top: 200px;
}

.leftcontainer {
    left: 1%;
}

.rightcontainer {
    left: 51%;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 10px;
    color: #fff;
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}
.container{
    width: 100%;
    max-width: 500px;
    margin: auto; 
}
nav a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.info {
    width: 100%;
    position: fixed;
    top: 200px;
    left: 10px;
}

.dropdown {
    width: 100%;
    position: fixed;
    top: 200px;
    left: 10px;
}